.App {
  /* text-align: center; */
  /* font-family: Georgia; */
}

/* book component */
.book {
  margin: 10px;
  padding: 10px;
  /* border: 1px solid #bbb; */
  background-color: #eee;
  text-align: left;
}

.book-week {
  font-style: arial,helvetica,sans-serif;
}

.book-title {
  font-size: 20px;
  font-weight: bold;
  font-style: arial,helvetica,sans-serif;
}

.book-author {
  font-size: 20px;
  font-style: arial,helvetica,sans-serif;
}

.book-description {
  font-family: Georgia;
  font-size: 18px;
}

/* nav */
nav {
  background-color: white;
  box-shadow: none;
  margin-bottom: 10px;
}

nav .brand-logo {
  font-family: Georgia;
  color: black;
  margin-top: 20px;
}

.nyt-logo {
  /* background-color: purple; */
  margin-bottom: -50px;
}

@media only screen and (min-width: 521px) {
  nav,
  nav .nav-wrapper {
    height: 150px;
  }

  nav .brand-logo {
    font-size: 2em;
  }

  img {
    max-width: 90%;
  }
}

@media only screen and (max-width: 520px) {
  nav,
  nav .nav-wrapper {
    height: 250px;
  }

  nav .brand-logo {
    font-size: 2em;
  }

  img {
    max-width: 99%;
  }

  .best-seller {
    font-size:
  }

  .nav-best {
    font-size: 18px;
  }

  .book p {
    font-size: 12px;
  }
}
