.App {
  text-align: center;
  font-family: Georgia;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* book component */
.book {
  margin: 20px;
  padding: 20px;
  border: 1px solid #bbb;
  background-color: #eee;
}

.book span {
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* nav */
nav {
  background-color: white;
  box-shadow: none;
}
nav .brand-logo {
  font-family: Georgia;
  color: black;
}

@media only screen and (min-width: 521px) {
  nav,
  nav .nav-wrapper {
    height: 150px;
  }

  nav .brand-logo {
    font-size: 2em;
  }
}

@media only screen and (max-width: 520px) {
  nav,
  nav .nav-wrapper {
    height: 250px;
  }

  nav .brand-logo {
    font-size: 2em;
  }
}
